body {
    width: 1200px;
    margin: 0 auto;
    color: #f0f0f0;
}

.main {
    display: flex;
    flex-direction: column;
    position: relative;
}

.delete-post {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 580px;
    bottom: 110px;
}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 60px;
    background-color: #252525;
    font-size: 2rem;
    border-radius: 10px 10px 0 0;
}

.name-username {
    display: flex;
    margin-left: 5%;
}

.userId {
    font-size: 1rem;
    margin-right: 20px;
    margin-top: 15px;
}

.e-mail {
    margin-right: 5%;
    font-size: 1.5rem;
}

.name-username span {
    margin: 15px 20px 0 20px;
    font-size: 1rem;
}

.title {
    background-color: #383838;
    min-height: 60px;
    position: relative;
    padding-top: 10px;
    padding-left: 5%;
    font-size: 1.5rem;
    border-bottom: 1px solid #6b6b6b;
}

.post-body {
    background-color: #383838;
    min-height: 100px;
    position: relative;
    padding-top: 10px;
    padding-left: 5%;
    font-size: 1rem;
    border-radius: 0 0 10px 10px;
    margin-bottom: 3vh;
}

.delete-post {
